*.swp
*/_build/*
*.byte
*.native
csim/csim
sched/sched
monitor/mon
asm/asm
cpu/os.rom
*.o
*.ps
*.log
*.aux
*/*.net
*/*.snet
*/*.dumb
rapport_simulateur.pdf
*.tm~
doc/7c
rapport_final.pdf
rapport_final.tex
rapport_final.dep
*.ly

